<div class="bioinformatics-container">
  <h1>Bioinformatics Data Explorer</h1>

  <mat-tab-group>
    <mat-tab label="📥 Import">
      <app-bio-import></app-bio-import> 
    </mat-tab>
    <mat-tab label="🧬 Genes">
      <app-gene-table></app-gene-table>
    </mat-tab>

    <mat-tab label="🦠 Diseases">
      <app-disease-table></app-disease-table>
    </mat-tab>

    <mat-tab label="💊 Drugs">
      <app-drug-table></app-drug-table>
    </mat-tab>

    <mat-tab label="🔗 Relationships">
      <p>Relationships visualization will go here</p>
    </mat-tab>
  </mat-tab-group>
</div>